<head>
  <title>Museo BeePay</title>
  <link rel = "stylesheet" href = "/css/stylemuseo.css">
  </head>
<body>
    <header>
        <a href = "/welcome">
            <img src = "/icons/botonVolver.png" class = "botonVolver">
        </a>
        <h1>Bienvenido al Museo BeePay</h1>
    </header>
    <div class = bienvenida>
        <h3> El museo de BeePay es un espacio virtual donde podés apoyar o mostrar proyectos creativos o ideas innovadoras, ayudando así a toda la comunidad BeePay en sus emprendimientos obteniendo beneficios exclusivos.</h3>
        <br>
        <h2>¡Transformá buenas ideas en grandes proyectos!</h2>
        <div class = contenedorBIM>
            <a href = "/miIdeaMuseo" class = "botonIntroMuseo">
                Mostrar mi idea
            </a>
            <a href = "/museo" class = "botonIntroMuseo">
                Ver museo
            </a>
        </div>
    </div>
</body>