<div class="container">
  <div class="left">
     <img src="/images/logo.png" alt="Logo de BeePay" class="logo_login">
    <p class="slogan">Donde tu plata vuela segura.</p>
  </div>
  
  <div class="right">
    <form action="/login" method="post" class="login-form">
      <input type="email" name="email" placeholder="Email" required>
      <input type="password" name="password" placeholder="Contraseña" required>
      <button type="submit">Iniciar sesión</button>
      <div class="links">
        <div class="password-perdida">
          <a href="/password-perdida-link">¿Olvidaste tu contraseña?</a>
        </div>
        <p class="texto"> ¿No tienes cuenta?</p>
        <a href="/signup">Registrarse</a>
      </div>
      
    </form>
  </div>
</div>
