<div class="container">
  <h2>Ingresa Tus Datos</h2>
  <form action="/login" method="post">
    <label>Email:</label>
    <input type="email" name="email" required>

    <label>Contraseña:</label>
    <input type="password" name="password" required>

    <button type="submit">Ingresar</button>
  </form>
</div>
