<head>
  <title>Museo BeePay</title>
  <link rel = "stylesheet" href = "/css/stylemuseo.css">
  </head>
<body>
    <header>
        <a href = "/introduccionMuseo">
            <img src = "/icons/botonVolver.png" class = "botonVolver">
        </a>
        <h1>Subi tu idea del museo (W.I.P.)</h1>
    </header>
    <br>
    <img src="/images/wip.png" width="500" height="700" style="display: block; margin: 0 auto;">
</body>