<head>
    <title>Museo de Música</title>
    <link rel = "stylesheet" href = "/css/stylemuseo.css">
</head>
<body>
    <header>
        <a href = "/museo">
            <img src = "/icons/botonVolver.png" class = "botonVolver">
        </a>     
        <h1>Museo de Música</h1>
    </header>

    <div class = "categoria-label">
        <h2>Música</h2>
    </div>

    <div class = "container">
        <!-- Fila superior: Rock y Hip Hop -->
        <div class = "row-top">
            <a class = "card botonCategoria">
            <span class = "badge">MÁS APOYADOS</span>
            <img src = "/images/rock.png" alt = "Rock">
            <div class = "trofeo-container">
                <img src = "/icons/trofeo.png" alt = "Trofeo" class = "trofeo">
            </div>
            <p>ROCK</p>
            </a>
            <div class = "card">
                <img src = "/images/hiphop.png" alt = "HipHop">
                <p>HIP-HOP</p>
            </div>
        </div>

        <!-- Fila inferior: 4 cards en una sola fila -->
        <div class = "grid">
            <div class = "card">
                <img src = "/images/pop.png" alt = "Pop">
                <p>POP</p>
            </div>
            <div class = "card">
                <img src = "/images/tango.png" alt = "Tango">
                <p>TANGO</p>
            </div>
            <div class = "card">
                <img src = "/images/electronica.png" alt = "Electronica">
                <p>ELECTRÓNICA</p>
            </div>
            <div class = "card">
                <img src = "/images/jazz.png" alt = "Jazz">
                <p>JAZZ</p>
            </div>
        </div>
    </div>
</body>