<head>
    <title>Museo</title>
    <link rel="stylesheet" href="/css/stylemuseo.css">
</head>
<body>
    <header>
     <a href = "/introduccionMuseo">
       <img src="/icons/botonVolver.png" class="botonVolver">
     </a>     
       <h1>Museo</h1>
    </header>

    <div class="categoria-label">
      <h2>Categorías</h2>
    </div>

    <div class="container">
    <!-- Fila superior: Arte y Música -->
    <div class="row-top">
    <a href="/museoDeArte" class="card botonCategoria">
    <span class="badge">MÁS APOYADOS</span>
    <img src="/images/arte.jpg" alt="Arte">
    <p>ARTE</p>
    </a>
      <div class="card">
        <img src="/images/musica.jpg" alt="Música">
        <p>MÚSICA</p>
      </div>
    </div>

    <!-- Fila inferior: 4 cards en una sola fila -->
    <div class="grid">
      <div class="card">
        <img src="/images/estetica.jpg" alt="Estética">
        <p>ESTÉTICA</p>
      </div>
      <div class="card">
        <img src="/images/bazar.jpg" alt="Bazar">
        <p>BAZAR</p>
      </div>
      <div class="card">
        <img src="/images/ropa.jpg" alt="Ropa">
        <p>ROPA</p>
      </div>
      <div class="card">
        <img src="/images/evento.jpg" alt="Eventos">
        <p>EVENTOS</p>
      </div>
    </div>
  </div>
</body>