<head>
    <title>Museo de Arte</title>
    <link rel = "stylesheet" href = "/css/stylemuseo.css">
</head>
<body>
    <header>
        <a href = "/museo">
            <img src = "/icons/botonVolver.png" class = "botonVolver">
        </a>     
        <h1>Museo de Arte</h1>
    </header>

    <div class = "categoria-label">
        <h2>Arte</h2>
    </div>

    <div class = "container">
        <!-- Fila superior: Cuadros y Bordados -->
        <div class = "row-top">
            <a href="/personas" class = "card botonCategoria">
            <span class = "badge">MÁS APOYADOS</span>
            <img src = "/images/cuadros.png" alt = "Cuadros">
            <div class = "trofeo-container-arte">
                <img src = "/icons/trofeo.png" alt = "Trofeo" class = "trofeo">
            </div>
            <p>CUADROS</p>
            </a>
            <div class = "card">
                <img src = "/images/bordados.png" alt = "Bordados">
                <p>BORDADOS</p>
            </div>
        </div>

        <!-- Fila inferior: 4 cards en una sola fila -->
        <div class = "grid">
            <div class = "card">
                <img src = "/images/digital.png" alt = "Digital">
                <p>DIGITAL</p>
            </div>
            <div class = "card">
                <img src = "/images/murales.png" alt = "Murales">
                <p>MURALES</p>
            </div>
            <div class = "card">
                <img src = "/images/ceramica.png" alt = "Cerámica">
                <p>CERÁMICA</p>
            </div>
            <div class = "card">
                <img src = "/images/sogueria.png" alt = "Soguería">
                <p>SOGUERÍA</p>
            </div>
        </div>
    </div>
</body>