<!DOCTYPE html>
<html>
<head>
  <title>Confirmar transferencia</title>
  <link href = "https://fonts.googleapis.com/css2?family=Anton&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap" rel = "stylesheet">
  <link href = "https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel = "stylesheet">
  <link rel = "stylesheet" href = "/css/styleTransferencia.css">
  
</head>
<body>
  <header>
    <a href = "/seleccionarMontoTransferencia">
      <img src = "/icons/botonVolver.png" class = "botonVolver">
    </a>
    <h1>Finalizar transferencia</h1>
  </header>

  <div class = "datos">
    <p> <strong>Destinatario:</strong> <%= @target_account %></p>
  </div>
  <br>
  <div class = "datos">
    <p><strong>Monto:</strong> $ <%= amount %></p>
  </div>  

  <form action="/welcome" class="formularioMotivo" method="post">
    <label for="motivo">Motivo de la transferencia: </label>
    <br>
    <input type="text" name="reason" placeholder="Ingrese breve descripcion del motivo." required />
    <br><br>
    <button type="submit" class="botonFormulario">Finalizar</button>
  </form>
  <div id="mensaje-exito" style="display:none;">✔️ Operación realizada con éxito</div>
</body>
</html>