
<head>
  <title>Transferir dinero</title>
  <link href = "https://fonts.googleapis.com/css2?family=Anton&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap" rel = "stylesheet">
  <link href = "https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel = "stylesheet">
  <link rel = "stylesheet" href = "/css/styleTransferencia.css">
  </head>
<body>
    <header>
        <a href = "/welcome">
            <img src = "/icons/botonVolver.png" style="width: 60px; height: 60px;" class = "botonVolver">
        </a>
        <h1>¿A quién le querés transferir?</h1>
    </header>
        <form action = "/seleccionarMontoTransferencia" method = "post">
            <label for = "target_account">Destinatario de la transferencia: </label>
            <br>
            <input type = "text" required name = "target_account" placeholder = "Ingrese ALIAS / CBU / CVU."/>
            <br>
            <button type = "submit" class = "botonFormulario">Continuar</button>
        </form>
</body>
