
:root {
  --primary-font: "Oswald", sans-serif;
}

.container {
  position: relative;
  width: 320px;    /* Más ancho */
  height: 180px;   /* Más bajo */
  transition: 200ms;
}

.container:active {
  width: 310px;
  height: 170px;
}
h1{
  font-size: 3.5rem;
  color: #ffcf00;
  text-align: center;
  margin-top: 10px;
}
header{
  margin-top: 1rem;
}
.header-tarjeta{
  margin-right: 529px;
  margin-top: 2rem;
}

#card {
  position: absolute;
  inset: 0;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  transition: 700ms;
  background: linear-gradient(43deg, rgb(193, 182, 18) 0%,#ffcf00 46%, #ffcf00 50%);
}

.underline-card {
  
  transition: opacity 300ms;
  border: none;
  height: 40px;
  background: #000000;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px; /* Ajustá según la posición de tu prompt */
  z-index: 10;
}



.logo {
  opacity: 1;
  transition: opacity 300ms;
  position: absolute;
  top: 18px;      /* Ajustá según prefieras */
  left: 18px;     /* Ajustá según prefieras */
  width: 40px;    /* O el tamaño que quieras */
  height: 40px;
  z-index: 300;   /* Más alto que cualquier otro elemento */
  filter: drop-shadow(0 0 0 black) drop-shadow(0 0 3px black);

}

.nombre{
  color: #000000;
  font-size: 20px;
  margin-left: 20px;
  font-family:var(--primary-font);
  text-transform: uppercase;
}

.subtitle {
  transform: translateY(190px);
  color: rgb(255, 255, 255);
  text-align: center;
  width: 100%;
  margin-top: -50px;
  margin-left: -55px;
}

.title {
  opacity: 0;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out-out;
  transition-delay: 100ms;
  transition: opacity 300ms;
  position: absolute;
  font-size: x-large;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.tracker:hover ~ #card .title {
  opacity: 1;
}

#prompt {
  bottom: 10px;
  left: 12px;
  z-index: 20;
  font-size: 18px;
  font-weight: bold;
  transition: 300ms ease-in-out-out;
  position: absolute;
  max-width: 280px;
  color: #d5d5d5; /* plateado base */
  margin-left: 13px;
  letter-spacing: 2px;
  /* Efecto relieve y brillo */
  text-shadow:
    1px 1px 2px #434343,   /* sombra suave */
    0 0 8px #000000,       /* brillo */
    0 1px 0 #bbb,       /* relieve claro */
    0 -1px 0 #fff,      /* brillo superior */
    1px -1px 1px #aaa;  /* profundidad */
}

.tracker {
  position: absolute;
  z-index: 200;
  width: 100%;
  height: 100%;
}

.tracker:hover {
  cursor: pointer;
}

.tracker:hover ~ #card #prompt {
  opacity: 0;
}

.tracker:hover ~ #card {
  transition: 300ms;
  filter: brightness(1.1);
}

.container:hover #card::before {
  transition: 200ms;
  content: '';
  opacity: 80%;
}

.canvas {
  perspective: 800px;
  inset: 0;
  z-index: 200;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "tr-1 tr-2 tr-3 tr-4 tr-5"
    "tr-6 tr-7 tr-8 tr-9 tr-10"
    "tr-11 tr-12 tr-13 tr-14 tr-15"
    "tr-16 tr-17 tr-18 tr-19 tr-20"
    "tr-21 tr-22 tr-23 tr-24 tr-25";
}

#card::before {
  content: '';
  background: linear-gradient(43deg, #ffcf00 0%, #ffcf00 46%, rgb(255, 255, 255) 100%);
  filter: blur(2rem);
  opacity: 30%;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  transition: 200ms;
}

.tr-1 {
  grid-area: tr-1;
}

.tr-2 {
  grid-area: tr-2;
}

.tr-3 {
  grid-area: tr-3;
}

.tr-4 {
  grid-area: tr-4;
}

.tr-5 {
  grid-area: tr-5;
}

.tr-6 {
  grid-area: tr-6;
}

.tr-7 {
  grid-area: tr-7;
}

.tr-8 {
  grid-area: tr-8;
}

.tr-9 {
  grid-area: tr-9;
}

.tr-10 {
  grid-area: tr-10;
}

.tr-11 {
  grid-area: tr-11;
}

.tr-12 {
  grid-area: tr-12;
}

.tr-13 {
  grid-area: tr-13;
}

.tr-14 {
  grid-area: tr-14;
}

.tr-15 {
  grid-area: tr-15;
}

.tr-16 {
  grid-area: tr-16;
}

.tr-17 {
  grid-area: tr-17;
}

.tr-18 {
  grid-area: tr-18;
}

.tr-19 {
  grid-area: tr-19;
}

.tr-20 {
  grid-area: tr-20;
}

.tr-21 {
  grid-area: tr-21;
}

.tr-22 {
  grid-area: tr-22;
}

.tr-23 {
  grid-area: tr-23;
}

.tr-24 {
  grid-area: tr-24;
}

.tr-25 {
  grid-area: tr-25;
}

.tr-1:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-2:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-3:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(0deg) rotateZ(0deg);
}

.tr-4:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(5deg) rotateZ(0deg);
}

.tr-5:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(10deg) rotateZ(0deg);
}

.tr-6:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-7:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-8:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(0deg) rotateZ(0deg);
}

.tr-9:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(5deg) rotateZ(0deg);
}

.tr-10:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(10deg) rotateZ(0deg);
}

.tr-11:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-12:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-13:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}

.tr-14:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(5deg) rotateZ(0deg);
}

.tr-15:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(10deg) rotateZ(0deg);
}

.tr-16:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-17:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-18:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(0deg) rotateZ(0deg);
}

.tr-19:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(5deg) rotateZ(0deg);
}

.tr-20:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(10deg) rotateZ(0deg);
}

.tr-21:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-22:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-23:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(0deg) rotateZ(0deg);
}

.tr-24:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(5deg) rotateZ(0deg);
}

.tr-25:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(10deg) rotateZ(0deg);
}

.noselect {
  -webkit-touch-callout: none;
   /* iOS Safari */
  -webkit-user-select: none;
   /* Safari */
   /* Konqueror HTML */
  -moz-user-select: none;
   /* Old versions of Firefox */
  -ms-user-select: none;
   /* Internet Explorer/Edge */
  user-select: none;
   /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */
}
.tr-25:hover ~ #card .title {
  opacity: 1;
}

.tr-25:hover ~ #card .underline-card {
  opacity: 1;
}

.tr-25:hover ~ #card .nombre,
.tr-25:hover ~ #card .logo,
.tr-1:hover ~ #card .nombre,
.tr-1:hover ~ #card .logo {
  opacity: 0;
}
.panal {
 
  position: absolute;
  top: 5px;
  right: -10px;
  display: flex;
  flex-direction: column;
  gap: 0px; /* sin separación entre filas */
  transform: scale(0.6); /* ajustá el tamaño general */
}

.hex-row {
  display: flex;
  justify-content: center;
  margin-top: -10px; /* para acercar verticalmente las filas */
}

.hex {
  width: 40px;
  height: 35px; /* más alto que antes */
  background-color: black;
  margin: 1px; /* más juntos horizontalmente */
  clip-path: polygon(
    50% 0%, 
    100% 25%, 
    100% 75%, 
    50% 100%, 
    0% 75%, 
    0% 25%
  );
}

.tr-25:hover ~ #card .panal,
.tr-1:hover ~ #card .panal {
  opacity: 0;
  transition: opacity 300ms;
}
.panal {
  opacity: 1;
  transition: opacity 300ms;
}
.botonVolver {
    margin-top: 1px;
    margin-left: 50px;
    height: 100px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.botonVolver:hover {
    background-color: #e6b800;
    transform: scale(1.05);
    border-radius: 50%;
}