:root {
  --primary-color: #ffcf00;
  --primary-font: "Oswald", sans-serif;
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #000;
  color: #fff;
}

.container {
  padding: 20px;
  max-width: 900px;
  margin: auto;
}

header {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  position: relative;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8rem;
}

header h1 {
  padding-top: 80px;
  color: #ffcf00;
  font-family: var(--primary-font);
  font-size: 80px;
  text-align: center;
}

.botonVolver {
  position: absolute;
  left: 50px;
  top: 50%;
  height: 95px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.botonVolver:hover {
  background-color: #e6b800;
  transform: scale(1.05);
  border-radius: 50%;
}

.bienvenida {
  background-color: #ffcf00;
  color: #000000;
  font-family: var(--primary-font);
  font-size: 30px;
  border-radius: 10px;
  padding: 10px 20px;
  width: 85rem;
  height: 33rem;
  box-sizing: border-box;
  margin-top: 20px;
  margin: 20px auto;
}

.bienvenida h2 {
  text-align: center;
  text-shadow: 0 0 8px #000000;
}

.bienvenida h3 {
  text-align: justify;
}

.contenedorBIM {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 10px;
}

.botonIntroMuseo {
  background-color: #000000;
  color: #ffcf00;
  font-family: var(--primary-font);
  font-size: 30px;
  border-radius: 10px;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease;
  transition: transform 0.2s ease;
}

.botonIntroMuseo:hover {
  background-color: #151515;
  transform: scale(1.05);
}

.title {
  font-size: 32px;
  color: #FFD700;
  margin: 0;
}

.categoria-label {
  margin: 30px 0 20px;
  text-align: center;
}

.categoria-label h2 {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #FFD700;
  border-radius: 10px;
  font-size: 24px;
}

.card {
  background-color: #111;
  border: 2px solid #FFD700;
  border-radius: 10px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 130px;
  object-fit: cover;
  border-bottom: 2px solid #FFD700;
}

.card p {
  font-weight: bold;
  font-size: 16px;
  margin: 10px 0;
}

.badge {
  position: absolute;
  top: 0;
  left: 0;
  background: #FFD700;
  color: #000;
  font-weight: bold;
  padding: 5px 10px;
  border-bottom-right-radius: 10px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  grid-row: 2 / 3 ;
  grid-column: 1 / 3;
}

.row-top {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  grid-column: 1 / 3;
}

