/* public/css/style.css */
:root{
  --primary-color: #ffcf00;
  --primary-font: "Oswald", sans-serif;
}

body {
  background-image: url('/images/panal.jpg');
  background-size: contain;
  background-color: #000000; /* por si no carga */
  margin: 0;
  padding: 0;
}

.texto_bienvenida{
  color:#ffcf00;
  font-family: var(--primary-font);
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  align-items: center;
  justify-items: center;
}

.left .slogan{
  text-align: center;
  font-size: 25px;
  font-family: var(--primary-font);
  color: #c5c5c5;
  text-shadow: 0 0 10px rgb(0, 0, 0), 0 0 20px rgb(19, 19, 19);
  text-transform: uppercase;
  margin-right: 40px;
}

.left {
  display:block;
  align-items:center;
  padding: 2rem;
}

.logo_login {
  width: 700px;
  height: auto;
}

.slogan {
  font-size: 1.5rem;
  color: #333;

}

.right {
  background-color: #181818;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 20px var(--primary-color);
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.login-form input {
  padding: 12px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}

.login-form button , .signup-form button {
  background-color: var(--primary-color);
  color: rgb(0, 0, 0);
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-form button:hover , .signup-form button:hover {
  background-color: #665719;
  
}

.links a{
  color: #ffffff;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 17px;
}

.links{
  color: #ffffff;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-left: 12px;
  padding-right: 12px;
}

.texto {
  color: var(--primary-color);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 5px;
}

label{
  color: #ffffff;
  font-family: var(--primary-font);
  font-weight: bold;
  padding-bottom: 2px;
}


.signup-form {
  display: flex;
  flex-direction: column;
  width: 300px;
}


.signup-form input {
  padding: 15px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
 
}

.logo-header{
  width: 300px;
  height: auto;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slogan-header {
  text-align: center;
  font-size: 10px;
  color: #c5c5c5;
  text-shadow: 0 0 10px rgb(0, 0, 0), 0 0 20px rgb(19, 19, 19);
  text-transform: uppercase;
  margin-top: 0.5px;
  margin-right: 1.5rem;
}

.header-welcome{
  margin-left: 80px;
}
.texto-header {
  color: wheat;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
}
.texto-inicio{
  color: var(--primary-color);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.registro{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  
}

/*  vista welcome*/

.header_welcome {
  background-color:var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  font-family: var(--primary-font);
  
}

.logo {
  font-weight: bold;
  font-size: 1.5em;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.main-container {
  display: flex;
  min-height: calc(100vh - 60px);
  background-color: #000000;
}


.content {
  flex: 1;
  padding: 20px;
}

.card-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 480px;
  box-sizing: border-box;
}

.card h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
}

.cvu-link {
  font-size: 0.85em;
  background-color: #000000;
  padding: 4px 8px;
  border-radius: 6px;
  color: var(--primary-color);
  text-decoration: none;
  font-family: var(--primary-font);
}

.balance {
  font-size: 1.8em;
  margin: 10px 0;
}

.eye-icon {
  margin-left: 10px;
  font-size: 0.8em;
  cursor: pointer;
}

.to-settle,
.total-earned {
  color: #555;
  margin: 8px 0;
}

.badge {
  background-color: #e3f5ff;
  color:var(--primary-color);
  font-size: 0.8em;
  padding: 2px 6px;
  border-radius: 10px;
  margin-left: 6px;
}

.button-group {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.primary {
  flex: 1;
  padding: 10px;
  background-color: #dbe9ff;
  color: var(--primary-color);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.error-message {
  text-align: center;
  color: red;
  margin: 20px 0;
}

.retry {
  display: block;
  color: var(--primary-color);
  text-decoration: none;
  margin-top: 5px;
}

.view-all {
  display: block;
  text-align: right;
  margin-top: 15px;
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
}

button.primary{
  background-color: var(--primary-color);
  color: black;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  font-family: var(--primary-font);
}

button.primero, button.segundo, button.tercero{
  background-color: var(--primary-color);
  color: black;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  font-family: var(--primary-font);
}

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: image(url('/images/panal.png'));
  color: white;
}

.sidebar {
  position: fixed;
  left: 1; /*esto es para que el sidebar quede pegado a la izquierda */
  top: 1; /*esto es para que el sidebar quede pegado a la parte superior */
  bottom: 0;
  width: 130px; /* ancho del sidebar */
  background: #000000;
  transition: width 0.3s;
  overflow-x: hidden;
  z-index: 1000;
  
}

.sidebar.collapsed {
  width: 0; 
  padding: 0;
  overflow: hidden;
}

.main-content {
  transition: margin-left 0.3s;
  margin-left: 130px;
  padding: 2rem;
}

.sidebar.collapsed + .main-content {
  margin-left: 0;
}

.menu li {
  list-style: none;
  margin: 1.5rem 0;
  margin-top: 50px;
  margin-bottom: 60px;
  
}


.menu-icon {
  position: fixed;
  left: 0;
  margin-left: -30px;
  top: 20px;
  z-index: 2001; /*mayor que el sidebar*/
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.balance-card {
  background: #fcd200;
  padding: 1.5rem;
  border-radius: 16px;
  color: #000;
  font-size: 1.5rem;
  margin: 1rem 0;
  position: relative;
}

.balance {
  font-size: 3rem;
  font-weight: bold;
}

.actions {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}

.actions button {
  background: none;
  border: 2px solid #fcd200;
  color: #fcd200;
  border-radius: 50%;
  padding: 1rem;
  font-size: 0.9rem;
  cursor: pointer;
}

.payments {
  margin-top: 2rem;
}

.payment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0;
}

.footer-icons {
  display: flex;
  justify-content: space-around;
  background-color: #fcd200;
  padding: 0.5rem;
  border-radius: 12px;
  margin-top: 2rem;
}

.footer-icons button {
  background: none;
  border: none;
  cursor: pointer;
}

